.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px 0;
  .navbar-nav {
    a {
      font-weight: 500;
      text-decoration: none;
      color: $black-color;
      font-size: 18px;
      transition: all linear 0.4s;
      -webkit-transition: all linear 0.4s;
      -moz-transition: all linear 0.4s;
      -ms-transition: all linear 0.4s;
      -o-transition: all linear 0.4s;
      &:hover {
        color: $blue-color;
      }
    }
  }
  .nav-btn {
    padding: 14px 25px;
    color: $white-color;
    background: $blue-color;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    outline: 0;
    border: 0;
  }
  &.stickynav{
    background: #977ded !important;
    animation: nav-ani linear 0.5s;
    -webkit-animation: nav-ani linear 0.5s;
    .navbar-nav{
      a{
        color: $white-color;
        &:hover{
          color: $black-color;
        }
      }
    }
  }
}


@keyframes nav-ani {
  from{
    top: -100px;
  }
  to{
    top: 0;
  }
}
