.company {
  margin-top: 100px;
  margin-bottom: 120px;
  @include media-breakpoint-down(md) {
    margin: 50px 0 70px 0;
  }
  @include media-breakpoint-between(md, lg) {
    margin: 70px 0 90px 0;
  }
  .company-heading {
    padding-bottom: 40px;
    h3 {
      font-size: 48px;
      font-weight: 700;
      color: #414141;
      line-height: 40px;
      @include media-breakpoint-between(zero, sm) {
        font-size: 30px;
      }
    }
  }
  .company-slider {
    text-align: center;
    .company-inner {
      margin: 0 20px;
      display: inline-block;
      border: 1px solid #d8d2ec;
      min-height: 210px;
      line-height: 210px;
      // min-width: 278px;
      text-align: center;
      @include media-breakpoint-between(zero, sm) {
        margin: 0 auto;
      }
      @include media-breakpoint-between(sm, md) {
        margin: 0 auto;
      }
    }
  }
}

.slick-slide img {
  display: inherit !important;
}
